*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../common/images/workout.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.registationForm{
    width: 700px;
    height: auto;
    position: relative;
    margin: 6% auto;
    background: linear-gradient(
            150.46deg,
            rgba(255, 255, 255, 0.5) -12.61%,
            rgba(255, 255, 255, 0.25) 110.1%
    );
    padding: 10px;
    border-radius: 5px;

}

#dietaryLimitations {
    transform: scale(2);
    margin-right: 11px;
}

/* Full-width input fields */
input[type=text],input[type=number], input[type=password] {
    display:inline-block;
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
}

#email{
    display:inline-block;
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    display:inline-block;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background: #7cb7a3;
    color: #000;
    cursor: pointer;
    width: 140px;
    font-size: 16px;
    border: none;
    height: 35px;
    outline: none;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 20px;
    position: center;
}

/* Extra styles for the cancel button */
.cancelbtn {
    background-color: #b95d57;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url("../common/images/workout.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: absolute;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    color: rgba(51, 47, 53, 0.82);
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}

input[type=radio]:checked + label{
    color: rgba(51, 47, 53, 1);
    background: rgba(51, 47, 53, 0.4);
}

label + input[type=radio] + label {
    border-left: solid 3px rgba(51, 47, 53, 0.6);
}

.radio-group {
    border: solid 3px rgba(51, 47, 53, 0.6);
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}