<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MMC Fitness</title>
  <link rel="stylesheet" href="/workoutSubscriber/workoutSubscriber.css">
  <link rel="stylesheet" href="/common/bootstrap.min.css">
  <link rel="stylesheet" href="/toolbar/toolbar.css">
  <link rel="stylesheet" href="/alertsPage/alertsPage.css">
    <script src="/common/context-path-helper.js"></script>
  <script src="/common/jquery-2.0.3.min.js"></script>
    <script src="/alertsPage/alertsPage.js"></script>

</head>
<body>
<ul>
    <li style="padding-top: 10px;">
        <span class="userName" th:text="'Hello ' + ${subscriber.firstName}"></span>
    </li>
    <li style="float:right;font-weight: bold; font-size: 27px; color:gainsboro">
        <a href="app/logout">Logout</a>
    </li>
</ul>
    <div class="board_container users">
        <div class="board_headline">
            <label class="table_headlines" id="users">Users</label>
        </div>
        <div class="board_content">
            <table class="table table-dark" id="usersTable">
                <thead>
                <tr>
                    <th scope="col">User name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Start</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="content" id="content">
            <div id="chatwindow">
                <!-- place holder to hold all the chat lines -->
                <div id="chatarea" class="span6"></div>

                <!-- The actual form through which you send data back to the user -->
                        <table class="abc">
                            <thead>
                            <tr>
                                <th scope="col" th:text="${type}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="string : ${chatStrings}" >
                                <td th:text="${string.content}"></td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    <form th:action="@{'/alert/userId=' + ${userId} + '&chat=' + ${chatId}}" th:method="post" th:object="${massageForm}" th:class="massageForm">
    <input type="text"  id="userstring" name="userstring"/>
    <button th:value="send" th:name="send" class="btn btn-primary" id="sendButton" type="submit">Send</button>
    </form>
    </div>
</div>
</body>
</html>