<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MMC Fitness</title>
  <link rel="stylesheet" href="/workoutSubscriber/workoutSubscriber.css">
  <link rel="stylesheet" href="/common/bootstrap.min.css">
  <link rel="stylesheet" href="/toolbar/toolbar.css">
  <link rel="stylesheet" href="/alertsPage/alertsPage.css">
    <script src="/common/context-path-helper.js"></script>
  <script src="/common/jquery-2.0.3.min.js"></script>
    <script src="/alertsPage/alertsPage.js"></script>

</head>
<body>
<div class="toolBar">
  <div class="toolbarContent">
    <a href="app/logout" class="logoutButton">Logout</a>
    <span class="logoSpan">
            <a th:href="@{'/settings/userId=' + ${subscriber.userId}}" class="settings">
                <img th:src="@{/common/images/settings.png}" class="settings">
            </a>
        </span>
    <span class="alertLogoSpan">
            <a th:href="@{'/alert/userId=' + ${subscriber.userId}}" class="alert">
                <img th:src="@{/common/images/bell.png}" class="alert">
            </a>
        </span>
    <span class="reportLogoSpan">
            <a th:href="@{'/report/userId=' + ${subscriber.userId}}" class="report">
                <img th:src="@{/common/images/report3.png}" class="report">
            </a>
        </span>
    <span class="userName" th:text="'Hello ' + ${subscriber.firstName}"></span>
  </div>
</div>
    <div class="board_container users">
        <div class="board_headline">
            <label class="table_headlines" id="users">Users</label>
        </div>
        <div class="board_content">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">User name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Start</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}" >
                    <td th:text="${user.fullName}"></td>
                    <td th:text="${user.type}"></td>
                    <td>
                        <form th:action="@{'/alert/userId=' + ${userId} + '&chat=' + ${user.userId}}" th:method="post" th:object="${usersChatForm}" th:class="usersForm">
                        <button th:value="chat" th:name="chat" class="btn btn-primary" id="submitButton" type="submit">Start</button>
                        </a>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="content">
            <div id="chatwindow">
                <h4>Chat</h4>

                <!-- place holder to hold all the chat lines -->
                <div id="chatarea" class="span6"></div>

                <!-- The actual form through which you send data back to the user -->
                <form id="chatform" method="POST" action="sendChat">
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="string : ${chatStrings}" >
                            <td th:text="${string.content}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="Send"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>