<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MMC Fitness</title>
  <link rel="stylesheet" href="/workoutSubscriber/workoutSubscriber.css">
  <link rel="stylesheet" href="/common/bootstrap.min.css">
  <link rel="stylesheet" href="/toolbar/toolbar.css">
  <link rel="stylesheet" href="/alertsPage/alertsPage.css">
    <script src="/common/context-path-helper.js"></script>
  <script src="/common/jquery-2.0.3.min.js"></script>
    <script src="/alertsPage/alertsPage.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
<body>
<ul>
    <li style="padding-top: 10px;">
        <span class="userName" id="myUser" th:text="'Hello ' + ${subscriber.firstName}"></span>
    </li>
    <li style="float:right;font-weight: bold; font-size: 27px; color:gainsboro">
        <a th:href="@{'/logout/userId=' + ${subscriber.userId}}">Logout</a>
    </li>
    <li style="float:right">
        <a th:href="@{'/menu/userId=' + ${subscriber.userId}}" class="icon-block">
            <i class='fas fa-house-user' style='font-size:42px; color:gainsboro' ></i>
        </a>
    </li>
</ul>
    <div class="board_container users">
        <div class="board_headline">
            <label class="table_headlines" id="users">Users</label>
        </div>
        <div class="board_content">
            <table class="table table-dark" id="usersTable">
                <thead>
                <tr>
                    <th scope="col">User name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Start</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="content" id="content">
            <div id="chatwindow">
                <!-- place holder to hold all the chat lines -->
                <div id="chatarea" class="span6"></div>

                <!-- The actual form through which you send data back to the user -->
                        <table id="chat-table">
                            <thead>
                            <tr>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    <form id="send-msg">
    <input type="text"  id="userstring" name="userstring"/>
    </form>
    </div>
</div>
</body>
</html>