<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MMC Fitness</title>
    <!-- Link the Bootstrap (from twitter) CSS framework in order to use its classes-->
    <link rel="stylesheet" href="loginPage/LoginStyle.css">
    <script src="common/jquery-2.0.3.min.js"></script>
    <script src="loginPage/login.js"></script>
</head>
<body>
<div class="container">
    <form th:action="register" th:method="post" th:object="${userForm}" th:class="loginForm">
        <h2>Login Form</h2>
        <p>please choose user type</p>
        <div class="radio-group">
            <input type="radio" id="option-one" name="selector" checked><label for="option-one">Subscriber</label>
            <input type="radio" id="option-two" name="selector"><label for="option-two">Nutritionist</label>
            <input type="radio" id="option-three" name="selector"><label for="option-three">Trainer</label>
        </div>
        <div class="inputBox">
            <input type="text" th:field="*{username}" placeholder="Username" name="username">
        </div>
        <div class="inputBox">
            <input type="text" th:field="*{password}" placeholder="Password" name="username"/>
        </div>
        <button th:value="login" th:name="login" class="btn btn-primary" id="submitButton" type="submit">Log In</button>
        <button th:value="signin" th:name="signin" class="btn btn-primary" id="signupButton" type="submit">Sign Up</button>
        <label class="error-msg"></label>
    </form>
    <div id="error-placeholder" class="alert-danger" role="alert"></div>
</div>
</body>
</html>