<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MMC Fitness</title>
    <!-- Link the Bootstrap (from twitter) CSS framework in order to use its classes-->
    <link rel="stylesheet" href="loginPage/LoginStyle.css">
    <script src="common/jquery-2.0.3.min.js"></script>
    <script src="loginPage/login.js"></script>
</head>
<body>
<div class="container">
    <form th:action="register" th:method="post" th:object="${userForm}" th:class="loginForm">
        <h2>Login Form</h2>
        <p>please choose user type</p>
        <div class="radio-group">
            <input type="radio" id="option1" name="option1" class="custom-control-input" value="Subscriber" th:field="*{type}" checked="checked">
            <label class="custom-control-label" for="option1">Subscriber</label>
            <input type="radio" id="option2" name="option2" class="custom-control-input" value="Nutritionist" th:field="*{type}">
            <label class="custom-control-label" for="option2">Nutritionist</label>
            <input type="radio" id="option3" name="option3" class="custom-control-input" value="Trainer" th:field="*{type}">
            <label class="custom-control-label" for="option3">Trainer</label>
        </div>
        <div class="inputBox">
            <input type="email" th:field="*{email}" placeholder="Email" name="email" required>
        </div>
        <div class="inputBox">
            <input type="password" th:field="*{password}" placeholder="Password" name="password" required/>
        </div>
        <span class="error-msg" th:if="${errorMessage}"  th:text="${errorMessage}" >Error</span>
        <button th:value="login" th:name="login" class="btn btn-primary" id="submitButton" type="submit">Log In</button>
        <button th:value="signin" th:name="signin" class="btn btn-primary" id="signupButton" type="submit">Sign Up</button>
    </form>
</div>
</body>
</html>