<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MMC Fitness</title>
    <!-- Link the Bootstrap (from twitter) CSS framework in order to use its classes-->
    <link rel="stylesheet" href="/mainMenuSubscriber/mainPageSubscriber.css">
    <link rel="stylesheet" href="/common/bootstrap.min.css">
    <script src="/common/context-path-helper.js"></script>
    <script src="/common/jquery-2.0.3.min.js"></script>
    <script src="/mainMenuSubscriber/mainPageSubscriber.js"></script>
</head>
<body>
<div class="toolBar">
    <div class="toolbarContent">
        <a href="app/logout" class="logoutButton">Logout</a>
        <span class="logoSpan">
            userId
            <a th:href="@{'/settings/userId=' + ${subscriber.userId}}" class="settings">
                <img th:src="@{/common/images/settings.png}" class="settings">
            </a>
        </span>
        <span class="userName" th:text="'Hello ' + ${subscriber.firstName}"></span>
    </div>
</div>
<div id="userData">
    <div id="user_details_container">
        <div class="appBodyContent">
            <div class="cat_elipse pr">
                <div class="cat_elipse_inner_wrraper">
                    <div class="userDetails" th:text="'Name: ' + ${subscriber.firstName}"></div>
                    <div class="userDetails" th:text="'Age: ' + ${subscriber.age}"></div>
                    <div class="userDetails" th:text="'Gender: ' + ${gender}"></div>
                </div>
            </div>
            <div class="cat_elipse">
                <div class="cat_elipse_inner_wrraper">
                    <div class="userDetails" th:text="'Weight: ' + ${subscriber.weight}"></div>
                    <div class="userDetails" th:text="'Height: ' + ${subscriber.height}"></div>
                    <div class="userDetails" th:text="'BMI: ' + ${subscriber.BMI}"></div>
                </div>
            </div>
            <div class="cat_elipse">
                <div class="cat_elipse_inner_wrraper">
                    <div class="userDetails" th:text="'Fat Percentage: ' + ${subscriber.targetFatPercentage}"></div>
                    <div class="userDetails" th:text="'Weight Goal: ' + ${subscriber.targetWeight}"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="Fitness_container">
    <div class="board_container training">
        <div class="board_headline">
            <label class="table_headlines" id="Workouts">Workouts</label>
        </div>
        <div class="board_content">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Workout Id</th>
                    <th scope="col">Workout name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="workout : ${workout}" style="cursor: pointer" >

                    <td th:text="${workout.workoutId}"></td>
                    <td th:text="${workout.name}"></td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="board_container menu">
        <div class="board_headline">
            <label class="table_headlines" id="Menu" th:text="${menu.name}">Menu</label>
        </div>
        <div class="board_content">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Meal in day</th>
                    <th scope="col">Meal</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="meal : ${menu}" style="cursor: pointer"  >
                    <td th:text="${meal.name}"></td>
                    <td th:text="${meal.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>