<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MMC Fitness</title>
    <!-- Link the Bootstrap (from twitter) CSS framework in order to use its classes-->
    <link rel="stylesheet" href="/mainMenuTrainer/mainPageTrainer.css">
    <link rel="stylesheet" href="/common/bootstrap.min.css">
    <link rel="stylesheet" href="/toolbar/toolbar.css">
    <script src="/common/context-path-helper.js"></script>
    <script src="/common/jquery-2.0.3.min.js"></script>
    <script src="/mainMenuTrainer/mainPageTrainer.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<ul>
    <li style="padding-top: 10px;">
        <span class="userName" th:text="'Hello ' + ${trainer.firstName}"></span>
    </li>
    <li style="float:right;font-weight: bold; font-size: 27px; color:gainsboro">
        <a th:href="@{'/logout/userId=' + ${subscriber.userId}}">Logout</a>
    </li>
    <li style="float:right">
        <a th:href="@{'/alert/userId=' + ${trainer.userId}}" class="icon-block">
            <i class='far fa-bell' style='font-size:42px; color:gainsboro' ></i>
        </a>
    </li>
</ul>

<div id="Fitness_container">
    <div class="board_container training">
        <div class="board_headline">
            <label class="table_headlines" id="Workouts">Workouts</label>

                <button onclick="openForm()">
                    <i class="fa fa-plus" aria-hidden="true" style="margin: 15px;border: solid;padding: 8px;border-radius: 10px;"></i>
                </button>

            <div class="form-popup" id="myForm">
                <form action="/workout/add" method="post" object="${workoutForm}" class="form-container">
                    <h1>Add Workout</h1>

                    <label for="workout"><b>Workout Name</b></label>
                    <input type="text" placeholder="Enter workout name" name="workoutName" required>
                    <label for="exercise"><b>Exercise</b></label>
                    <input type="text" placeholder="Enter exercise name" name="exerciseName" required>
                    <label for="number of sets"><b>Number of sets</b></label>
                    <input type="text" placeholder="Enter number of sets" name="setNum" required>
                    <label for="number of reps"><b>Number of reps</b></label>
                    <input type="text" placeholder="Enter number of reps" name="repNum" required>
                    <label for="description"><b>Description</b></label>
                    <input type="text" placeholder="Enter description for the workout" name="description" required>
                    <label for="link"><b>Link</b></label>
                    <input type="text" placeholder="Enter exercise link" name="link" required>
                    <label for="focus"><b>Focus</b></label>
                    <input type="text" placeholder="Enter focus" name="focus" required>
                    <label for="assigned user"><b>Assigned user</b></label>
                    <input type="email" id=email placeholder="Enter assigned user" name="assignedUser" required>

                    <button type="submit" class="btn">Add Workout</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>

        </div>
        <div class="board_content">
            <table class="table table-dark">
<!--                <tbody>-->
<!--                <tr th:each="workout : ${workout}" style="cursor: pointer"-->
<!--                    th:onclick="|urlMapping('${trainer.userId}','${workout.workoutId}')|">-->
<!--                    <td th:text="${workout.workoutId}"></td>-->
<!--                    <td th:text="${workout.name}"></td>-->
<!--                </tr>-->
<!--                </tbody>-->
                <tbody>
                <tr th:each="workout : ${workout}" style="cursor: pointer" >
                    <td th:text="${workout.name}"></td>
                    <td>
                        <a th:href="@{'/open/workout/trainer/userId=' + ${trainer.userId}} + '/workout=' + ${workout.workoutId}">
                            <button type="button" class="openWorkoutButton">open</button>
                        </a>
                        <a th:href="@{'/edit/workout/trainer/userId=' + ${trainer.userId}} + '/workout=' + ${workout.workoutId}">
                            <button type="button" class="editWorkoutButton">edit</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }
    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>

</body>
</html>

