<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MMC Fitness</title>
    <link rel="stylesheet" href="/menuNutritionist/menuNutritionist.css">
    <link rel="stylesheet" href="/common/bootstrap.min.css">
    <link rel="stylesheet" href="/toolbar/toolbar.css">
    <script src="/common/context-path-helper.js"></script>
    <script src="/common/jquery-2.0.3.min.js"></script>
    <script src="/menuNutritionist/menuNutritionist.js"></script>
</head>
<body>
<ul>
    <li style="padding-top: 10px;">
        <span class="userName" th:text="'Hello ' + ${nutritionist.firstName}"></span>
    </li>
    <li style="float:right;font-weight: bold; font-size: 27px; color:gainsboro">
        <a th:href="@{'/logout/userId=' + ${nutritionist.userId}}">Logout</a>
    </li>
    <li style="float:right">
        <a th:href="@{'/alert/userId=' + ${nutritionist.userId}}" class="icon-block">
            <i class='far fa-bell' style='font-size:42px; color:gainsboro' ></i>
        </a>
    </li>
</ul>

<div id="menu_body">
    <div class="board_container menu">
        <div class="board_headline">
            <label class="table_headlines" id="meals">Meals</label>

                </form>
            </div>
        <div class="board_content">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Meal</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="meal : ${meal}" style="cursor: pointer">
                    <td th:text="${meal.mealInDay}"></td>
                    <td th:text="${meal.calories}"></td>
                    <td th:text="${meal.items}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
</body>
</html>