<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MMC Fitness</title>
    <!-- Link the Bootstrap (from twitter) CSS framework in order to use its classes-->
    <link rel="stylesheet" href="registrationPage/registrationPage.css">
    <link rel="stylesheet" href="common/bootstrap.min.css">
    <script src="common/context-path-helper.js"></script>
    <script src="common/jquery-2.0.3.min.js"></script>
    <script src="registrationPage/registrationPage.js"></script>
</head>
<body>
<div class="container">
    <form class="registationForm" id="genericForm" th:action="registration" th:method="post" th:object="${registrationForm}">
        <h1>Sign Up</h1>
        <p>please choose user type</p>
        <div class="radio-group">
            <input type="radio" onclick="openForm()" id="option1" name="option1" class="custom-control-input" value="Subscriber" th:field="*{type}" checked="checked">
            <label class="custom-control-label" for="option1">Subscriber</label>
            <input type="radio" onclick="closeForm()" id="option2" name="option2" class="custom-control-input" value="Nutritionist" th:field="*{type}">
            <label class="custom-control-label" for="option2">Nutritionist</label>
            <input type="radio" onclick="closeForm()" id="option3" name="option3" class="custom-control-input" value="Trainer" th:field="*{type}">
            <label class="custom-control-label" for="option3">Trainer</label>
        </div>
        <hr>
        <p>Please fill in this form to create an account.</p>
        <b>First name</b><br>
        <input type="text" th:field="*{firstname}" placeholder="Enter First Name" name="firstname" required>
        <br>
        <b>Last name</b><br>
        <input type="text" th:field="*{lastname}" placeholder="Enter Last Name" name="lastname" required><br>
        <b>Phone number</b><br>
        <input type="text" th:field="*{phonenumber}" placeholder="Enter Phone Number" name="phonenumber" pattern="[0-9]{10}" required><br>
        <b>Email</b><br>
        <input type="email" id="email" th:field="*{email}" placeholder="Enter Email" name="email" required><br>
        <b>Password</b><br>
        <input type="password" th:field="*{psw}" placeholder="Enter Password" name="psw" required><br>
        <div id="subscriberForm">
        <b>Age</b><br>
        <input type="number" min="16" max="100" name="age" placeholder="Enter Age" >
        <br>
        <b>Height</b><br>
        <input type="number" name="height" step="0.01" min="1.50" max="2.30" placeholder="Enter Height" ><br>
        <b >Weight</b><br>
        <input type="number" name="weight" step="0.01" min="50.00" max="200.00" placeholder="Enter Weight" ><br>
        <b>Dietary Limitations</b><br>
        <input type="radio" id="gluten" name="dietaryLimitations" value="gluten" th:field="*{dietaryLimitations}">
            <label for="gluten"> Gluten-free </label> <br>
            <input type="radio" id="glucose" name="dietaryLimitations" value="glucose" th:field="*{dietaryLimitations}">
            <label for="glucose"> Glucose-free </label> <br>
            <input type="radio" id="vegan" name="dietaryLimitations" value="vegan" th:field="*{dietaryLimitations}">
            <label for="vegan"> Vegan </label> <br>
            <input type="radio" id="vegetarian" name="dietaryLimitations" value="vegetarian" th:field="*{dietaryLimitations}">
            <label for="vegetarian"> Vegetarian </label> <br>
            <input type="radio" id="regular" name="dietaryLimitations" value="regular" th:field="*{dietaryLimitations}">
            <label for="regular"> None </label> <br>
            <b>Gender</b><br>
            <div class="radio-group">
                <input type="radio" id="female" name="female" class="custom-control-input" value="female" th:field="*{gender}">
                <label class="custom-control-label" for="female">Female</label>
                <input type="radio" id="male" name="male" class="custom-control-input" value="male" th:field="*{gender}">
                <label class="custom-control-label" for="male">Male</label><br>
            </div><br>
        <b>Workout Amount</b><br>
        <input type="number" min="1" max="10" name="workoutAmount" placeholder="Enter workout Amount" th:field="*{workoutAmount}" ><br>
            <b>Target Fat Percentage</b><br>
            <input type="number" min="1" max="100" name="targetFatPercentage" placeholder="Enter Target Fat Percentage" th:field="*{targetFatPercentage}"><br>
        <b>Target Weight</b><br>
        <input type="number" step="0.01" min="50.00" max="200.00" name="targetWeight" placeholder="Enter Target Weight" th:field="*{targetWeight}"><br>
        </div>
        <div id="professionalForm">
            <b>Seniority</b><br>
            <input type="number" min="0" max="60" name="seniority" th:field="*{seniority}" placeholder="Enter seniority" ><br>
        </div>
        <div class="clearfix">
            <button th:value="cancel" th:name="cancel" type="cancel" class="cancelbtn" formnovalidate>Cancel</button>
            <button th:value="submit" th:name="submit" type="submit" class="signupbtn">Sign Up</button>
        </div>
    </form>
</div>
<script>
    function openForm() {
        document.getElementById("subscriberForm").style.display = "block";
        document.getElementById("professionalForm").style.display = "none";
    }
    function closeForm() {
        document.getElementById("subscriberForm").style.display = "none";
        document.getElementById("professionalForm").style.display = "block";
    }
</script>
</body>
</html>