<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MMC Fitness</title>
    <!-- Link the Bootstrap (from twitter) CSS framework in order to use its classes-->
    <link rel="stylesheet" href="registrationPage/registrationPage.css">
    <link rel="stylesheet" href="common/bootstrap.min.css">
    <script src="common/context-path-helper.js"></script>
    <script src="common/jquery-2.0.3.min.js"></script>
    <script src="registrationPage/registrationPage.js"></script>
</head>
<body>
<div class="container">
    <form class="registationForm" th:action="registration" th:method="post" th:object="${registrationForm}">
        <h1>Sign Up</h1>
        <p>please choose user type</p>
        <div class="radio-group">
                <input type="radio" id="option1" name="option1" class="custom-control-input" value="Subscriber" th:field="*{type}" checked>
                <label class="custom-control-label" for="option1">Subscriber</label>
                <input type="radio" id="option2" name="option2" class="custom-control-input" value="Nutritionist" th:field="*{type}">
                <label class="custom-control-label" for="option2">Nutritionist</label>
                <input type="radio" id="option3" name="option3" class="custom-control-input" value="Trainer" th:field="*{type}">
                <label class="custom-control-label" for="option3">Trainer</label>
        </div>
        <hr>
    <p>Please fill in this form to create an account.</p>
        <b>First name</b><br>
        <input type="text" th:field="*{firstname}" placeholder="Enter First Name" name="firstname" required>
        <br>
        <b>Last name</b><br>
        <input type="text" th:field="*{lastname}" placeholder="Enter Last Name" name="lastname" required><br>
        <b>Phone number</b><br>
        <input type="text" th:field="*{phonenumber}" placeholder="Enter Phone Number" name="phonenumber" required><br>
        <b>Email</b><br>
        <input type="text" th:field="*{email}" placeholder="Enter Email" name="email" required><br>
        <b>Password</b><br>
        <input type="password" th:field="*{psw}" placeholder="Enter Password" name="psw" required><br>
    <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
        <button th:value="cancel" th:name="cancel" type="button" class="cancelbtn">Cancel</button>
        <button th:value="submit" th:name="submit" type="submit" class="signupbtn">Sign Up</button>
    </div>
    </form>
</div>
</body>
</html>