<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MMC Fitness</title>
  <link rel="stylesheet" href="/workoutSubscriber/workoutSubscriber.css">
  <link rel="stylesheet" href="/common/bootstrap.min.css">
  <link rel="stylesheet" href="/toolbar/toolbar.css">
    <link rel="stylesheet" href="/reportsPage/reportsPage.css">
    <script src="/common/context-path-helper.js"></script>
  <script src="/common/jquery-2.0.3.min.js"></script>
  <script src="/workoutSubscriber/workoutSubscriber.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div class="toolBar">
  <div class="toolbarContent">
    <a href="app/logout" class="logoutButton">Logout</a>
    <span class="logoSpan">
            <a th:href="@{'/settings/userId=' + ${subscriber.userId}}" class="settings">
                <img th:src="@{/common/images/settings.png}" class="settings">
            </a>
        </span>
    <span class="alertLogoSpan">
            <a th:href="@{'/alert/userId=' + ${subscriber.userId}}" class="alert">
                <img th:src="@{/common/images/bell.png}" class="alert">
            </a>
        </span>
    <span class="reportLogoSpan">
            <a th:href="@{'/report/userId=' + ${subscriber.userId}}" class="report">
                <img th:src="@{/common/images/report3.png}" class="report">
            </a>
        </span>
    <span class="userName" th:text="'Hello ' + ${subscriber.firstName}"></span>
  </div>
    <div class="summary">
       <p class="title"> Your Progress Report </p>
        <p>The number of kilograms you lost in the last week: </p>
        <p>The number of kilograms you lost since you registered to MMC fitness: </p>
    </div>
    <div id="LineChart"></div>
</div>
<script th:inline="javascript">
    var real_data = /*[[${chartData}]]*/'noValue';
    $(document).ready(function() {
        google.charts.load('current', {
            packages : [ 'corechart', 'bar' ]
        });
        google.charts.setOnLoadCallback(drawColumnChart);
        google.charts.setOnLoadCallback(drawLineChart);
    });
    function drawColumnChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'weeks');
        data.addColumn('number', 'weight');
        Object.keys(real_data).forEach(function(key) {
            data.addRow([ key, real_data[key] ]);
        });
        var options = {
            title : 'My progress',
            hAxis : {
                title : 'Weeks',
            },
            vAxis : {
                title : 'Weight'
            }
        };
        var chart = new google.visualization.ColumnChart(document
            .getElementById('chart_div'));
        chart.draw(data, options);
    }
    function drawLineChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Weeks');
        data.addColumn('number', 'Weight');
        Object.keys(real_data).forEach(function(key) {
            data.addRow([ key, real_data[key] ]);
        });
        var options = {'title':'My Average Day', 'width':800, 'height':400};

        var chart = new google.visualization.LineChart(document
            .getElementById('LineChart'));
        chart.draw(data, options);
    }
</script>
</body>
</html>
</body>
</html>