<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MMC Fitness</title>
  <link rel="stylesheet" href="/workoutSubscriber/workoutSubscriber.css">
  <link rel="stylesheet" href="/common/bootstrap.min.css">
  <link rel="stylesheet" href="/toolbar/toolbar.css">
    <link rel="stylesheet" href="/reportsPage/reportsPage.css">
    <script src="/common/context-path-helper.js"></script>
  <script src="/common/jquery-2.0.3.min.js"></script>
  <script src="/workoutSubscriber/workoutSubscriber.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div class="toolBar">
  <div class="toolbarContent">
    <a href="app/logout" class="logoutButton">Logout</a>
    <span class="logoSpan">
            <a th:href="@{'/settings/userId=' + ${subscriber.userId}}" class="settings">
                <img th:src="@{/common/images/settings.png}" class="settings">
            </a>
        </span>
    <span class="alertLogoSpan">
            <a th:href="@{'/alert/userId=' + ${subscriber.userId}}" class="alert">
                <img th:src="@{/common/images/bell.png}" class="alert">
            </a>
        </span>
    <span class="reportLogoSpan">
            <a th:href="@{'/report/userId=' + ${subscriber.userId}}" class="report">
                <img th:src="@{/common/images/report3.png}" class="report">
            </a>
        </span>
    <span class="userName" th:text="'Hello ' + ${subscriber.firstName}"></span>
  </div>
    <div class="summary">
       <p class="title"> Your Progress Report </p>
        <p>The number of kilograms you lost in the last week: </p>
        <p>The number of kilograms you lost since you registered to MMC fitness: </p>
    </div>
    <div id="LineChart"></div>
</div>
<script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Weight', 'Week'],
            ['1', 84.0], //example
            ['2', 84.2],
            ['3', 83.8],
            ['4', 83.6],
            ['5', 83.3],
            ['6', 82.9]
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = {'title':'My Average Day', 'width':800, 'height':400};

        // Display the chart inside the <div> element with id="LineChart"
        var chart = new google.visualization.LineChart(document.getElementById('LineChart'));
        chart.draw(data, options);
    }
</script>
</body>
</html>