<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MMC Fitness</title>
    <link rel="stylesheet" href="/workoutTrainer/workoutTrainer.css">
    <link rel="stylesheet" href="/common/bootstrap.min.css">
    <link rel="stylesheet" href="/toolbar/toolbar.css">
    <script src="/common/context-path-helper.js"></script>
    <script src="/common/jquery-2.0.3.min.js"></script>
    <script src="/workoutTrainer/workoutTrainer.js"></script>
</head>
<body>
<ul>
    <li style="padding-top: 10px;">
        <span class="userName" th:text="'Hello ' + ${trainer.firstName}"></span>
    </li>
    <li style="float:right;font-weight: bold; font-size: 27px; color:gainsboro">
        <a th:href="@{'/logout/userId=' + ${subscriber.userId}}">Logout</a>
    </li>
    <li style="float:right">
        <a th:href="@{'/alert/userId=' + ${trainer.userId}}" class="icon-block">
            <i class='far fa-bell' style='font-size:42px; color:gainsboro' ></i>
        </a>
    </li>
</ul>

<div id="workout_body">
    <div class="board_container workout">
        <div class="board_headline">
            <label class="table_headlines" id="exercises">Exercises</label>

                </form>
            </div>
        <div class="board_content">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Exercise</th>
                    <th scope="col">Number of sets</th>
                    <th scope="col">Number of repetition</th>
                    <th scope="col">Description</th>
                    <th scope="col">Link</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="exersize : ${exersize}" style="cursor: pointer">
                    <td th:text="${exersize.exercise}"></td>
                    <td th:text="${exersize.setNum}"></td>
                    <td th:text="${exersize.repetNum}"></td>
                    <td th:text="${exersize.description}"></td>
                    <td th:text="${exersize.link}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
</body>
</html>