<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MMC Fitness</title>
    <link rel="stylesheet" href="/workoutSubscriber/workoutSubscriber.css">
    <link rel="stylesheet" href="/common/bootstrap.min.css">
    <script src="/common/context-path-helper.js"></script>
    <script src="/common/jquery-2.0.3.min.js"></script>
    <script src="/workoutSubscriber/workoutSubscriber.js"></script>
</head>
<body>
<div class="toolBar">
    <div class="toolbarContent">
        <a href="app/logout" class="logoutButton">Logout</a>
        <span class="userName" th:text="'Hello ' + ${subscriber.firstName}"></span>
    </div>
</div>

</body>
</html>