body{
    background-image: url("../common/images/menu.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.toolBar {
    height: 50px;
    background: #333;
}

.toolbarContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logoutButton {
    font-weight: bold;
    font-size: 20px;
}

.userName {
    margin: 20px;
    margin-top: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

#userData{
    height: 200px;
}

#user_details_container{
    z-index: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 0.45);
    height: 150px;
}

#user_details_container.appBodyContent {
    width: unset;
    margin-top: 110px;
    white-space: normal;
    overflow: hidden;
    padding: 10px 2px;
    text-align: center;
    max-width: 1300px;

}
.cat_elipse:first-child{
    margin-left: 18px;
}

.cat_elipse.pr{
    border-radius: 11vw!important;
}

.cat_elipse{
    width: 30vw;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: unset;
    padding: 6px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.appBodyContent{

}

.userDetails{
    line-height: 3;
    font-weight: 600;

}
#Fitness_container{
    z-index: 1;
    position: relative;
    height: 500px;
    text-align: center;
}
.board_container{
    background-color: rgba(255, 255, 255, 0.79);
    outline: #2e6da4 solid medium;
    display: inline-block;
    width: 40%;
    margin-top: 100px;
    overflow-y: scroll;
    max-height: 2000px;
    min-height: 200px;
}

.board_headline{
    outline: #2e6da4 solid medium;
    color: rgba(105,163,213,0.76);
    display: flex;
    text-align: center;

}

.table_headlines{
    color: black;
    font-weight: 600;
    font-size: medium;
    flex-grow: 60;
    flex-grow: 60;
    padding-left: 45px;
    padding-top: 20px;

}

.board_container.training{
    margin-left: 20px;
}

.board_container.menu{
    margin-left: 40px;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 350px;
    max-height: 800px;
    padding: 10px;
    background-color: white;
    overflow-y: scroll;
}

/* Full-width input fields */
.form-container input[type=text],input[type='email'] .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text],input[type='email']:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

#email{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container .btn {
    background-color: rgba(105,163,213,0.76);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #0048ff7d;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.openMenuButton{
    background: #fff;
    color: #000;
    width: 100px;
    font-size: 16px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}

.editMenuButton{
    background: #fff;
    color: #000;
    width: 100px;
    font-size: 16px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    left: 50px;
}


.toolBar {
    height: 50px;
    background: #333;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
}

li {
    float: left;
    border-right: 1px #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.toolbarContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logoutButton {
    position: absolute;
    right: 20px;
    font-weight: bold;
    font-size: 20px;
}

.userName {
    margin: 20px;
    font-weight: bold;
    font-size: 40px;
    color:gainsboro;
}

select {
    background: #ffffff;
    padding: 6px;
    border-radius: 9px;
}

