body{
    background-image: url("../common/images/workout.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


#workout_body{
    margin-top: 40px;
    z-index: 1;
    position: relative;
    height: 800px;
    text-align: center;
}

.board_container{

    background-color: rgba(255, 255, 255, 0.79);
    outline: #2e6da4 solid medium;
    display: inline-block;
    width: 40%;
    height: 300px;
}

.board_headline{
    outline: #2e6da4 solid medium;
}

.table_headlines{
    color: black;
    font-weight: 600;
    font-size: medium;
}


.toolBar {
    height: 50px;
    background: #333;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
}

li {
    float: left;
    border-right: 1px #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.toolbarContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logoutButton {
    position: absolute;
    right: 20px;
    font-weight: bold;
    font-size: 20px;
}

.userName {
    margin: 20px;
    font-weight: bold;
    font-size: 40px;
    color:gainsboro;
}
